<div>
    <h1>Media Usage</h1>
    <p><img src="@Url.Action("BarGraph","Users")" /> </p>

    <p><img src="@Url.Action("PieGraph","Users")" /> </p>
    <p><img src="@Url.Action("LineGraph","Users")" /> </p>
</div>