@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is meant for users to track their media use in order to lower the amount of time they spend using particular types of media.</p>
