@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <a class="logoBlack"></a><a class="filmIcon"></a><a class="gameIcon"></a><a class="musicIcon"></a><a class="bookIcon"></a><a class="mouseIcon"></a><a class="tvIcon"></a>
    <p class="lead">Media Tracker is a site designed to allow users to track the amount of media that they consume.</p>
    <p>@Html.ActionLink("Register Now", "Register", "Users", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })</p>
 
</div>
<div>
    @Html.ActionLink("List of users", "Index", "Users")<br />
    @Html.ActionLink("List of log", "Index", "Logs")
</div>

